.scoreButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: hsl(228, 33%, 97%);
    border-radius: 0.5rem;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    color: hsl(238, 40%, 52%);
}

.commentScore,
.replyScore {
    color: hsl(238, 40%, 52%);
    font-weight: 600;
}

.iconMinus,
.iconPlus {
    padding: 0.8rem;
}