.commentHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.avatar {
    width: 2rem;
    height: 2rem;
}

.userName {
    font-weight: 700;
}

.currentUser {
    background-color: hsl(238, 40%, 52%);
    padding: 0.25rem 0.5rem;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

.createdAt {
    color: hsl(228, 12%, 44%);
    font-size: 0.9rem;
}