.replyContainer {
  margin-left: 3rem;
  position: relative;
}

.replyContainer::before {
  background: #eaecf1;
  content: "";
  top: 0;
  height: 95%;
  position: absolute;
  width: 3px;
}

.addReplyForm {
  background-color: white;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.replyInput {
  width: 100%;
  height: 3rem;
  border-color: #eaecf1;
  border-radius: 0.5rem;
  font-family: inherit;
  color: #63687e;
  margin-bottom: 1rem;
}

.addReplyButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  background-color: #5457b6;
  justify-self: flex-end;
}