    .updateCommentForm {
        padding: 1rem;
        position: relative;
    }

    .updateCommentHeader {
        display: flex;
        justify-content: space-between;
    }

    .userNameInfoContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    .updateInput {
        width: 100%;
        height: 3rem;
        border-color: #eaecf1;
        border-radius: 0.5rem;
        font-family: inherit;
        color: #63687e;
        margin-bottom: 1rem;
        outline: none;

    }

    .updateInput:active,
    .updateInput:hover {
        cursor: pointer;
        border-color: #5457b6;
    }

  
    .updateButtonsContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
    }