#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  min-height: 100vh;
}

.commentContainer {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.commentHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 2rem;
  height: 2rem;
}

.userName {
  font-weight: 700;
}

.createdAt {
  color: hsl(228, 12%, 44%);
  font-size: 0.9rem;
}

.commentContent,
.replyContent {
  margin-top: 0;
  color: hsl(228, 12%, 44%);
}

.replyingTo {
  color: hsl(238, 40%, 52%);
  font-weight: 800;
}

//Button container
.buttonsContainer {
  display: flex;
  justify-content: space-between;
}

.scoreButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: hsl(228, 33%, 97%);
  border-radius: 0.5rem;
}

.commentScore,
.replyScore {
  color: hsl(238, 40%, 52%);
  font-weight: 600;
}

.iconMinus,
.iconPlus {
  padding: 0.8rem;
}

// Replies
.replyContainer {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.replyHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
