.commentContainer,
.newCommentContainer {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.commentHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 2rem;
  height: 2rem;
}

.userName {
  font-weight: 700;
}

.currentUser {
  background-color: hsl(238, 40%, 52%);
  padding: 0.25rem 0.5rem;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

.createdAt {
  color: hsl(228, 12%, 44%);
  font-size: 0.9rem;
}

.commentContent {
  margin-top: 0;
  color: hsl(228, 12%, 44%);
  padding: 0.5rem;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
}

.scoreButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: hsl(228, 33%, 97%);
  border-radius: 0.5rem;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: hsl(238, 40%, 52%);
}

.commentScore,
.replyScore {
  color: hsl(238, 40%, 52%);
  font-weight: 600;
}

.iconMinus,
.iconPlus {
  padding: 0.8rem;
}

.iconReply,
.iconDelete,
.iconUpdate {
  margin-left: 0.5rem;
}

.replyButton {
  color: hsl(238, 40%, 52%);
  font-weight: 600;
  background-color: transparent;
}

.editButton {
  color: hsl(238, 40%, 52%);
  font-weight: 600;
  background-color: transparent;
}

.deleteButton {
  color: hsl(358, 79%, 66%);
  font-weight: 600;
  background-color: transparent;
}

.replyButton:hover {
  opacity: 50%;
}

.editButton:hover {
  opacity: 50%;
}

.deleteButton:hover {
  color: hsl(357, 100%, 86%);
}

/* Reply containter */
.replyContainer {
  margin-left: 3rem;
  position: relative;
}

.replyContainer::before {
  background: #eaecf1;
  content: "";
  top: 0;
  height: 95%;
  position: absolute;
  width: 3px;
}
